<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Echo</title>
  <link rel="shortcut icon" href="/assets/img/Echo.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/Echo.png" alt="face logo" /></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>

  <section id="content">
  </section>

  <script src="/assets/loginBundle.js"></script>
</body>

</html>