html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(0deg, #0a3437 0%, #34a9b2 100%);
}

.domoList {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: 10px;
}

*
{
        font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

#logo {
    height: 70px;
    width: 70;
    padding-top: 10px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #0a3437;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 30px;
    padding-left: 20px;
    color: #36e4a5;
    font-size: 2em;
    float: left;
}

.formSubmit, .makeDomoSubmit {
  background-color: #34a9b2;
  width: 50%;
  border: none;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

label {
    color:#36e4a5;
    font-size: 25px;
    display: block;
    margin-top: 20px;
    padding-top: 10px;
}

#pass, #user, #pass2, #domoName, #domoAge
{
    width: 50%;
    margin-bottom: 10px;
}


#loginForm, #signupForm, #domoForm
{
    margin: auto;
    align-self: center;
    background-color: #0a3437;
    width: 20%;
    border-radius: 25px;
    text-align: center;
    padding-bottom: 20px;
}

#domoName, #music
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#domoForm
{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.domo
{
    margin: auto;
    align-self: center;
    background-color: #0a3437;
    width: 40%;
    border-radius: 25px;
    text-align: center;
    padding-bottom: 20px;
}
.domoface
{
    width: 50%;
}

.formSubmit, .makeDomoSubmit
{
    display: block;
    margin: auto;
    margin-top: 10px;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color:  #36e4a5;
    text-decoration: none;
    padding: 10px;
}

.navlink a:hover {
    color:  #1e8861;
    transition: color 0.8s ease;
}

.hidden {
    display: none;
}

input[type=text], select {
  width: 30%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}